---

---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Form</title>
  </head>
  <body>
    <h1>Complete</h1>
    <p><a href="/">Back to home</a></p>
  </body>
</html>

<style>
  body {
    margin: 2rem;
  }
</style>
