---
import { Resend } from "resend";
const RESEND_API_KEY = import.meta.env.RESEND_API_KEY;
const RESEND_MAIL_FROM = import.meta.env.RESEND_MAIL_FROM;

const resend = new Resend(RESEND_API_KEY);

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("name") as string;
    const email = data.get("email") as string;
    const subject = `Resend mail on (${new Date()})`;
    const html = `Name: ${name} <br> Email: ${email}`;
    const body = {
      from: RESEND_MAIL_FROM,
      to: email,
      subject: subject,
      html: html,
    };

    resend.emails.send(body);
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Form</title>
  </head>
  <body>
    <h1>Form</h1>
    <form method="POST">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
